{
  "git@example.com:mike/diaspora.git": {
    "guild": "<Discord Server ID>",
    "branch": {
      "default": "<Channel ID>",
      "master": "<Channel IDx>"
    },
    "color": <color decimal>,
    "secret": "<gilab integration secret token>"
}
